<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="../static/1.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
    <body>
      <div class = 'header'>
        <div class = 'container'>
          <h1 class='topic'>Swizzle Insight</h1>
          <p>All information from Swizzle Database, you can get here</p>
        </div>

      </div>

      <div class = 'nav'>
        <div class = 'container'>
          <ul>
            <a class = 'btn1' href ="btn1">ABOUT PLAYLIST</a>
            <a class = 'btn2' href ="btn2">ABOUT COUNTRY</a>
            <a class = 'btn3' href ="btn3">ABOUT USER`S ACTION</a>
            <a class = 'btn4' href ="btn4">ABOUT SEARCH KEYWORDS</a>
          </ul>

        </div>

      </div>

      <div class = 'content'>
        <div class = 'container'>
          <h1>Click Data category you want!</h1>

        </div>

      </div>


      <div class = 'last'>
        <div class = 'container'>
          <p class="copyright">MADE BY SEAN KIM IN SWIZZLE</p>

        </div>

      </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="../static/js/0.js"></script>

    </body>
</html>
